<div class="row">
  <h2>Users</h2>
</div>
<div class="row">
  <a [routerLink]="['new']" class="btn btn-primary">Add User</a>
</div>
<div class="row">
  <table class="table">
    <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngIf="users != null">
    <tr *ngFor="let user of users">
      <th>{{user.name}}</th>
      <td>{{user.email}}</td>
      <td>
        <button type="button" class="btn btn-secondary">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-secondary">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
